.App {
  font-family: "Times New Roman";
}
.layout {
}
.nav {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.mails {
  list-style: none;
  text-align: left;
  padding: 20px;
  border: solid 1px grey;
  border-radius: 5px;
}
